html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../../../public/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainHeading {
    width: 570px;
    position: absolute;
    top: 15px;
    left: 115px;
    font-size: 67px;
    color: white;
}

.submit-button {
    position: absolute;
    top: 60%;
    left: 115px;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #199e44;
}

@media (max-width: 768px) {
    .mainHeading {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .submit-button {
        display: block;
        width: 100%;
        text-align: center;
    }
}


/* #choice {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#options {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.custom-select {
    appearance: none;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 200px;
    cursor: pointer;
    position: relative;
}

.custom-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.custom-select option {
    background: #fff;
    color: #333;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 20px 0px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:active,
.submit-button:focus {
    background-color: #003d80;
    outline: none;
} */